<div class="rounded position-relative fruite-item shadow text-center">
  <div class="fruite-img">
    <a routerLink="/details/{{ productItem.id }}">
      <img [src]="productItem.image" class="img-fluid rounded-top" alt="" />
    </a>
    <!-- @if(user){ -->
    <input
      type="checkbox"
      class="addToFav"
      name="addToFavBtn"
      id="heart{{ productItem.id }}"
      hidden
    />
    <label
      for="heart{{ productItem.id }}"
      class="position-absolute top-0 end-0 m-2"
    >
      <fa-icon
        [ngClass]="{ 'heart-red': isfavorite, 'heart-default': !isfavorite }"
        (click)="addTofav(productItem.id)"
        [icon]="faHeart"
        class="fs-4 heart"
      ></fa-icon>
    </label>
  <!-- } -->
  </div>
  @if(productItem.stock>0){
  <span class="badge w-50 py-2 m-2 rounded-pill text-bg-success">In stock</span>

  }@else {
  <span class="badge w-50 py-2 m-2 rounded-pill text-bg-warning"
    >Out of stock</span
  >

  }
  <div
    class="p-4 border border-secondary border-top-0 rounded-bottom text-start"
  >
    <h4>{{ productItem.name }}</h4>
    <p>{{ productItem.description }}</p>
    <div class="card-text">
      <b>Rating: </b>
      <span
        class="text-warning"
        *ngFor="let _ of getFlooredRating(productItem.rating)"
      >
        <fa-icon [icon]="faSolidStar"></fa-icon>
      </span>
    </div>

    <div class="d-flex justify-content-between flex-lg-wrap">
      <p class="text-dark fs-5 fw-bold mb-0">
        {{ productItem.price | currency : "USD" }}
      </p>
      <button
        (click)="addToCart(productItem.id)"
        class="btn border border-secondary rounded-pill px-3 text-primary"
      >
        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
      </button>
    </div>
  </div>
</div>
